{% extends 'main/base.html' %}

{% block content %}
    <style>
        #calculate{   /* the submit button- calculate */
            color: rgb(255, 255, 255); 
            cursor: pointer;
            font-size: 20px; 
            line-height: 17px; 
            padding: 9px; 
            border-radius: 50px;
            font-family: Georgia, serif; 
            background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
            border: 2px solid rgb(28, 110, 164); 
            margin: auto;
            width: fit-content;
        }
        #calculate:hover {
            background: #1C6EA4; 
        }
        #calculate:active {
            background: #144E75; 
        } 
    
        .errorlist {    /* ----------Style the error message container --------------------------*/
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margin */
        }
        .errorlist li {  /* Style each error message */
            color: red; 
            font-size: 14px; 
            font-weight: 400;
            margin-bottom: 0px; /* Add some space between messages */
        }
        .error {     /* the label of the field */
            color:grey;
        }
        .error input, .error textarea{    /* the text field */
            border: 2px solid grey; /* Set border style and color */
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Add shadow */
        } 
     
        .get-input{
            font-size: 16px;
            font-weight: bold;
            display:flex;
            flex-direction: column;
            text-align: start;
            gap:50px;
            margin: 10px;
            padding: 10px;
            border: 3px solid white;
            border-radius: 15px;
        }
        .get-input p{
            margin-bottom: 0px;
            margin-top: 0px;
        }
        #innerChoice {
            transform: scale(1.25); /* Adjust the scale factor as needed */
        }
        .get-inner{
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
        }
        .btn-group{
            margin:auto;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            border: 2px solid lightblue;
            text-align: center;
            /* width: 31vw; */
            max-width: 500px;
        }
        .second-row-inner{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            gap:20px;
        }
        #clear:hover{
            background-color:lightgreen;
        }

        .get-base{
            display: flex;
            flex-direction: column;
            /* border: 2px solid black; */
            /* position: relative; */
        }
        .base-label{
            flex-shrink: 0;
            position: relative;
        }

        .base-input{
            display: flex;
            align-items: end;
            justify-content: center;
        }
        .base-error{
            text-align: center;
            margin-right: 25px;
        }
        #base-input{  /* the base input field */
            font-size:large ;
            resize: both;
            min-width:auto;  /* Set your desired minimum width */
            min-height: auto; /* Set your desired minimum height */
            max-width: 500px;  /* Set your desired maximum width */
            max-height: 300px; /* Set your desired maximum height */
        }

        .result{   /* show the result base */
            margin: 50px 15px 0; 
            display: flex;
            flex-direction: column;
            align-items: center;
            border:1px solid grey;
            border-radius: 50px;
            background-color: white;
            box-shadow: 3px 3px 15px black;
            padding: 10px; /* 0.6510416667vw */
        }
        .old-base{
            font-size:0.8em;
            max-width: 90%;
        }

        .for-scroll{
            overflow-x: auto;
            max-width: 97%;
        }
        
        .base{
            font-family: Times;
            line-height: normal;
            display: flex;
        }

        .vector{
            display: flex;
            width: min-content;
        }
        .elements{
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: center;
            align-items: center;
            font-size: 27px;   /* 1.755859375vw = 27px */
            gap: 2px;  /* 0.390625vw = 2px */
            margin-top: 14px;  /* 0.91015625vw = 14px */
            min-width:max-content;
        }
        .brac{
            font-size: 120px; /* 7.8125vw  = 120px*/
        } 
        .semi{
            font-size: 50px; /* 3.255208333vw  = 50px*/
            margin: 0 0 5px; /* 0.32552083vw  = 5px*/
            align-self: end;
        }
        .wrap{
            font-size: 130px;   /* 8.463541667vw = 130px */
        }
        .get-inner2{
            display:flex;
            gap:4px;
        } 
        .info{
            font-size: 19px;
            font-weight: 100;
            color:black;
            position: relative; 
            cursor: pointer;   
        }
        .info-text{
            font-size: 14px;
            visibility: hidden;
            width: 20vw;
            min-width: 88px;
            background-color: rgb(214, 207, 202);
            color: #000000;
            border-radius: 6px;
            padding: 5px;
            top: -50px;
            left: 125%;   
            position: absolute;
            z-index: 2;
        }
        .info:hover .info-text{
          visibility: visible;    
        }

        .info2{
            font-size: 19px;
            font-weight: 100;
            color:black;
            position: relative;
            cursor: pointer;
            width: min-content;
        }
        .info2-text{
            font-size: 14px;
            visibility: hidden;
            width: max-content;
            background-color: rgb(214, 207, 202);
            color: #000000;
            border-radius: 6px;
            padding: 5px;
            top: 10px;
            left: 25px;   
            position: absolute;
            z-index: 2;
            max-width: 269.89px;
        }
        .info2:hover .info2-text{
          visibility: visible;    
        }

        @media screen and (max-width: 1300px){ /* info2 text moves up */
            .info2-text{
                top: -70px;   
                width: 269.89px;   
            }
        }

        @media screen and (min-width: 733px) and (max-width:835px){ /* info1 gets to the left */
            .info-text{
                left: -170px;
            }
        }

        @media screen and (max-width: 733px){  /* first info moves to the left */
            .get-inner2 {
               width: min-content;
            }
        }

        @media screen and (max-width: 400px){  /* input not bold anymore */
            .get-input{
                font-weight: 400;
            }
        }


    </style>

    <form method="post"> 
        {% csrf_token %}
        <div class="get-input">
            <div class="get-inner">
                <p>{{ form.innerChoice.label_tag }} {{ form.innerChoice }}</P>
                <div class="get-inner2">
                    <p {% if form.newInner.errors %} class="error" {% endif %}>
                        {{ form.newInner.label_tag }} {{ form.newInner }} {{ form.newInner.errors }}
                    </p>
                    <div class="info">&#9432;
                        <span class="info-text">For example the standard inner product would be:<br>&#10094;(X₁,X₂),(Y₁,Y₂)&#10095;=X₁·Y₁+X₂·Y₂
                        <br>Use the given keyboard to choose your own!</span>
                    </div>
                </div>
                
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <div class="first-row-inner">
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">0</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">1</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">2</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">3</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">4</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">5</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">6</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">7</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">8</button>
                        <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">9</button>
                        <button type="button" class="btn btn-outline-primary" id="clear" onclick="symbolButtons(this.innerHTML)">clear</button>
                    </div>
                    <div class="second-row-inner">
                        <div class="X">
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">X&#8321;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">X&#8322;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">X&#8323;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">X&#8324;</button>
                        </div>
                        <div class="symbols">
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">&#183;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">&plus;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">&minus;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">/</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">(</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">)</button>
                        </div>
                        <div class="Y">
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">Y&#8321;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">Y&#8322;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">Y&#8323;</button>
                            <button type="button" class="btn btn-outline-primary" onclick="symbolButtons(this.innerHTML)">Y&#8324;</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="get-base">
                <div {% if form.base.errors %} class="error" {% endif %}> 
                    <div class="base-label">
                        <p>Enter your base:</p>
                        <div class="info2">&#9432;
                            <span class="info2-text">Entered as a verticaly ordered matrix<br> (each vector is represented as a column).<br> 
                            In the example shown:<br> (-2,-1,2) and (2,1,0) are the first 2 vectors.</span>
                        </div>
                    </div>
                    <div class="base-error">{{ form.base.errors }} </div>
                    <div class="base-input">
                        {{ form.base }} 
                        <button type="button" class="btn btn-outline-primary" value="√()" onclick="symbolButtons(this.value)">√</button>
                    </div>
                </div>
            </div>

            <button type="submit" id="calculate">Calculate</button>
        </div>  
    </form> 

    {% if base %}
        <div class="result">
            <div class="old-base">Your base: &#10100; 
                {% for row in base %}
                    (
                    {% for item in row %}
                        {{ item }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    ){% if not forloop.last %},{% endif %}
                {% endfor %}
                &#10101;
            </div>
            <div class="new-base">The orthogonal base:</div>
            <div class="for-scroll">
                <div id="outputContainer" class="base"></div>
            </div>
        </div>
    {% endif %}

    <script>
        //------------------ toggle on/off newInner text -----------------------------------------------------
        function enableNewInner() 
        {
            var choice = document.getElementById('innerChoice');
            var input = document.getElementById('newInner');
            var buttons = document.querySelector('.btn-group');
            if (choice.checked)
            {
                input.setAttribute('disabled', 'disabled')
                input.removeAttribute('required');
                input.placeholder='(Optional)'
                buttons.style.display = 'none';
            }
            else 
            {
                input.removeAttribute('disabled')
                input.setAttribute('required', '');
                input.placeholder=''
                buttons.style.display = 'inline-block';
            }
        }
        document.getElementById('innerChoice').addEventListener('input', enableNewInner);
        enableNewInner() // so it would update every rendering

        // //---------------- add symbol buttons to text --------------------------------------------------------------
        function symbolButtons(buttonValue)
        {
            const charField =  (buttonValue=='√()')?  document.getElementById('base-input') : document.getElementById('newInner')  ;
            const startPos = charField.selectionStart;
            const endPos = charField.selectionEnd;

            const valueBefore = charField.value.substring(0, startPos);
            const valueAfter = charField.value.substring(endPos, charField.value.length);

            if (buttonValue === 'clear') {
                charField.value = '';
            } else {
                charField.value = valueBefore + buttonValue + valueAfter;
                charField.focus();
            }
        }

        //------------ create the base --------------------------------------------------------------------------------
        function createBase(base)
        {
            var size = base.length; // Example size
            var size_vector=base[0].length;

            // Get the container element where you want to append the elements
            var container = document.getElementById('outputContainer');

            // Create an opening '{' span element
            var openWrap = document.createElement('span');
            openWrap.className = 'wrap';
            openWrap.textContent = '{';

            // Append the opening '{' span element to the container
            container.appendChild(openWrap);

            // Loop to generate elements based on 'size'
            for (var i = 0; i < size; i++) {
            var vector = document.createElement('div');
            vector.className = 'vector';

            var openBrac = document.createElement('span');
            openBrac.className = 'brac';
            openBrac.textContent = '[';

            var elements = document.createElement('div');
            elements.className = 'elements';

            // Generate and append the inner elements (you can customize this part)
            for (var j = 0; j < size_vector; j++) {
                var innerDiv = document.createElement('div');
                innerDiv.textContent = base[i][j]; // Use the values from the base
                elements.appendChild(innerDiv);
            }

            var closeBrac = document.createElement('div');
            closeBrac.className = 'brac';
            closeBrac.textContent = ']';

            vector.appendChild(openBrac);
            vector.appendChild(elements);
            vector.appendChild(closeBrac);

            // Append the generated vector element to the container
            container.appendChild(vector);

            // If it's not the last iteration, add a comma element
            if (i < size - 1) {
                var comma = document.createElement('p');
                comma.className = 'semi';
                comma.textContent = ',';
                container.appendChild(comma);
            }
            }
            // Create a closing '}' span element
            var closeWrap = document.createElement('span');
            closeWrap.className = 'wrap';
            closeWrap.textContent = '}';
            container.appendChild(closeWrap);
            
            var focusBase=document.getElementById('outputContainer');
            focusBase.scrollIntoView({block:"center"});
        }
        res = JSON.parse('{{res|safe}}');
        createBase(res); // Call createBase function
        
        //------------ edit vector size -------------------------------------------------------------------------------
        function editVectorSize(sizeVector)
        {
            const elements=document.querySelectorAll('.elements');
            elements.forEach(element => {
                if (sizeVector == 1) {
                    element.style.setProperty('font-size', '30px');  // 1.953125vw = 30px
                    element.style.setProperty('gap', '0'); // 0
                    element.style.setProperty('margin-top', '5px'); // 0.32552083vw = 5px
                }
                else if (sizeVector == 2) {
                    element.style.setProperty('font-size', '27px'); // 1.755859375vw = 27px
                    element.style.setProperty('gap', '12px'); // 0.78125vw = 12px
                    element.style.setProperty('margin-top', '13px'); // 0.84505208vw = 13px
                }
                else if (sizeVector == 3) {
                    element.style.setProperty('font-size', '27px'); // 1.755859375vw = 27px
                    element.style.setProperty('gap', '2px'); // 0.390625vw = 2px
                    element.style.setProperty('margin-top', '14px'); // 0.91015625vw = 14px
                }
                else if (sizeVector == 4) {
                    element.style.setProperty('font-size', '24px'); // 1.5625vw = 24px
                    element.style.setProperty('gap', '0'); // 0
                    element.style.setProperty('margin-top', '14px'); // 0.91015625vw = 14px
                }
            })
        }
        sizeVector=JSON.parse('{{sizeVector}}');
        editVectorSize(sizeVector);
       
        //---------scroll horizontly in result area if needed ------------------------------------------------------------
        const container = document.querySelector(".for-scroll");
        container.addEventListener("wheel", function (e) {
            if (e.deltaY > 0) {
                container.scrollLeft += 100;
                e.preventDefault();
            }
            else {
                container.scrollLeft -= 100;
                e.preventDefault();
            }
        });

    </script>
{% endblock %}

<!-- normal screen size: 1536px
better suit to : 1052px -->



